body{
    width: 100%;
}

H1{
    text-transform: uppercase;
    margin-top: -50px;
    color: white;
}

nav{
    margin-top: 10px;
    margin-bottom: 600px;
    margin-left: 0px;
    margin-right: 0px;
}

#fejlec{
    width: 100%;
    padding: 20px;
    background: url(/kepek/Pizza_main.jpg) no-repeat fixed center;
}

.tortenet_link{
    margin: 50%;
    color: rgba(255, 255, 255, 0.95);
    font-size: 220%;
}

.tortenet_link:hover{
    color: rgba(255, 255, 255, 0.95);
}

.main_kep{
    height: 725px;
    margin-left: -20px;
    margin-top: -20px;
}

.btn{
    color: rgba(255, 255, 255, 0.75);
}

.btn:hover{
    color: white;
}

.btn:focus{
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.75);
}

.dropdown-item{
    color: rgba(255, 255, 255, 0.85);
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.95);
}

.active{
    color: rgba(255, 255, 255, 1);
}

.nav-link{
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-size: 110%;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
}

.nav-link:focus{
    color: rgba(255, 255, 255, 0.75);
}

#tortenet{
    float: right;
    background-color: rgb(36, 36, 36);
}

.left{
    float: left;
    margin: 50px 50px;
    text-align: right;
    margin-left: 300px;
    margin-top: 90px;
}

.tortenet{
    margin: 90px auto;
    margin-right: 250px;
}

.tortenet>h4{
    font-size: 12;
    margin-left: 620px;
    font-variant: small-caps;
}

.tortenet>h5{
    font-style: italic;
}

#menu{
    text-align: center;
    background-color: rgb(16, 16, 16);
}

#menu>p{
    margin: 10px 350px;
    font-size: large;
}

#menu>div>button{
    border: 1px solid white;
    background-color: rgb(16, 16, 16);
    color: white;
}

#specilitas{
    background-color:rgb(36, 36, 36);
    text-align: center;
}

.header{

}

p{
    color: rgb(206, 206, 206);
}

.row{
    margin: 50px 250px;
}

.kep2{
    height: 125%;
}

.kep3{
    margin-left: -20%;
    width: 80%;
}

.kep4{
    margin-left: -70%;
    height: 62%;
}