body{
    width: 100%;
}

H1{
    text-transform: uppercase;
    margin-top: -50px;
    color: white;
}

nav{
    margin-top: 10px;
    margin-bottom: 600px;
    margin-left: 0px;
    margin-right: 0px;
}

#fejlec{
    width: 100%;
    padding: 20px;
    background: url(/kepek/Pizza_main.jpg) no-repeat fixed center;
}

.tortenet_link{
    margin: 50%;
    color: rgba(255, 255, 255, 0.95);
    font-size: 220%;
}

.tortenet_link:hover{
    color: rgba(255, 255, 255, 0.95);
}

.main_kep{
    height: 725px;
    margin-left: -20px;
    margin-top: -20px;
}

.btn{
    color: rgba(255, 255, 255, 0.75);
}

.btn:hover{
    color: white;
}

.btn:focus{
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.75);
}

.dropdown-item{
    color: rgba(255, 255, 255, 0.85);
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.95);
}

.active{
    color: rgba(255, 255, 255, 1);
}

.nav-link{
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-size: 110%;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
}

.nav-link:focus{
    color: rgba(255, 255, 255, 0.75);
}

#tortenet{
    float: right;
    background-color: rgb(36, 36, 36);
}

.left{
    float: left;
    margin: 12% 3%;
    text-align: right;
    margin-left: 20%;
    margin-top: 5%;
}

.tortenet{
    margin: 5% auto;
    margin-right: 16.2%;
}

.tortenet>h4{
    font-size: 120%;
    margin-left: 43%;
    font-variant: small-caps;
}

.tortenet>p{
    
}

.left>h2{
    font-size: 175%;
}

.left>h5{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(176, 176, 176);
}

#menu{
    margin-top: 23%;
    text-align: center;
    background-color: rgb(16, 16, 16);
}

#menu>p{
    margin: 10px 350px;
    font-size: large;
}

#menu>div>button{
    border: 1px solid white;
    background-color: rgb(16, 16, 16);
    color: white;
    padding: 1% 5%;
    margin: 0 1%;
    margin-bottom: 6%;
}

#menu>div>button:hover{
    color: rgba(255, 255, 255, 0.95);
}

#menu>h2{
    padding-top: 5%;
}

#specilitas{
    background-color:rgb(36, 36, 36);
    text-align: center;
}

p{
    color: rgb(176, 176, 176);
}

.row{
    margin: 50px 250px;
}

.kep2{
    height: 118%;
    width: 89%;
    margin-left: -12%;
}

.kep3{
    margin-left: -20%;
    height: 54%;
    width: 80%;
}

.kep4{
    margin-left: -55%;
    height: 54%;
    width: 100%;
}

.kep5{
    margin-top: 20%;
    margin-left: -54%;
    height:44%;
    max-width: 200%;
    width: 122%;
}