body{
    width: 100%;
}

H1{
    text-transform: uppercase;
    margin-top: -50px;
    color: white;
    font-size: 32px;
}

nav{
    margin-top: 10px;
    margin-left: 0px;
}

#fejlec{
    width: 100%;
    height: 585px;
    padding: 20px;
    background: url(../kepek/Pizza_main.jpg) no-repeat;
    background-size: 115%;
    background-position: 50% 35%;
}

.tortenet_link{
    margin: 33% 50%;
}

.tortenet_link a{
    color: rgba(255, 255, 255, 0.95);
    font-size: 220%;
}

.tortenet_link a:hover{
    color: rgba(255, 255, 255, 0.95);
}

.main_kep{
    height: 725px;
    margin-left: -20px;
    margin-top: -20px;
}

.btn{
    color: rgba(255, 255, 255, 0.75);
}

.btn:hover{
    color: white;
}

.btn:focus{
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.75);
}

.dropdown-item{
    color: rgba(255, 255, 255, 0.85);
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.95);
}

.active{
    color: rgba(255, 255, 255, 1);
}

.nav-link{
    color: rgba(255, 255, 255, 0.75);
    font-variant: small-caps;
    font-size: 110%;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
}

.nav-link:focus{
    color: rgba(255, 255, 255, 0.75);
}

.shadow{
    background: linear-gradient(rgba(0,0,0,0.25%),rgba(0,0,0,0%));
}

#tortenet{
    display: grid;
    grid-template-columns: 0.2fr 0.54fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    background-color: rgb(36, 36, 36);
    padding: 5% 20%;
}

.felirat1{
    grid-area: 1 / 1 / 2 / 2;
    font-size: 140%;
    font-family: Metropolis,Metropolis-Fallback,Apple Color Emoji,Noto Color Emoji,sans-serif;
    text-align: right;
    font-variant: small-caps;

}

.felirat2{
    grid-area: 2 / 1 / 3 / 2;
    font-size: 17.2px;
    font-family: Playfair Display Flex,Playfair-Display-Fallback,Apple Color Emoji,Noto Color Emoji,serif;
    color: rgb(176, 176, 176);
    text-align: right;
}

.tortenet{
    grid-area: 1 / 2 / 3 / 3;
    font-size: 17.2px;
    font-family: Metropolis,Metropolis-Fallback,Apple Color Emoji,Noto Color Emoji,sans-serif;
    text-align: left;
    color: rgb(176, 176, 176);
}

.fogszam{
    grid-area: 3 / 2 / 4 / 3;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
    font-variant: small-caps;
}

#menu{
    text-align: center;
    background-color: rgb(16, 16, 16);
}

#menu h4{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(176, 176, 176);
    font-size: 20px;
}

#menu>p{
    margin: 10px 350px 40px;
    font-size: large;
}

#menu>div>button{
    border: 1px solid white;
    background-color: rgb(16, 16, 16);
    color: white;
    padding: 1% 5%;
    margin: 0 1%;
    margin-bottom: 6%;
}

#menu>div>button:hover{
    color: rgba(255, 255, 255, 0.95);
}

#menu>h2{
    padding-top: 6%;
    font-size: 28px;
}

#specilitas{
    padding-top: 6%;
    background-color:rgb(36, 36, 36);
    text-align: center;
    height: 1000px;
}

#specilitas h4 {
    color: rgb(176, 176, 176);
    font-size: 23.2px;
    font-family: Playfair Display Flex,Playfair-Display-Fallback,Apple Color Emoji,Noto Color Emoji,serif;
    font-weight: normal;
}

p{
    color: rgb(176, 176, 176);
}

.special {
    display: grid;
    grid-template-columns: repeat(2, 2.25fr) 2fr;
    grid-template-rows: 5.5fr 1.5fr 3fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: auto;
    width: 950px;
    height: 1px;
}

.Pizza_main_kep {
    grid-area: 1 / 1 / 3 / 3;
    background: url(../kepek/Pizza_main.jpg) no-repeat center;
    padding-top: 400px;
    height: 435px;
    background-size: 100%;
}

div[class$="_kep"] a {
    color: white;
    text-decoration: none;
}

div[class$="_kep"] a:hover {
    color: white;
    text-decoration: none;
}

.Steak_kep {
    grid-area: 1 / 3 / 4 / 4;
    background: url(../kepek/Steak.jpg) no-repeat center;
    padding-top: 490px;
    height: 525px;
    background-size: 310%;
}

.salata_kep {
    grid-area: 3 / 1 / 5 / 2;
    background: url(../kepek/salata.jpg) no-repeat center;
    padding-top: 240px;
    height: 275px;
    background-size: 140%;
}

.Pizza_kep {
    grid-area: 3 / 2 / 5 / 3;
    background: url(../kepek/Pizza.jpg) no-repeat center;
    padding-top: 240px;
    height: 275px;
    background-size: 110%;
}

.leves_kep {
    grid-area: 4 / 3 / 5 / 4;
    background: url(../kepek/leves.jpg) no-repeat center;
    padding-top: 170px;
    margin-top: -80px;
    height: 200px;
    background-size: 110%;
    background-position: 52% 54%;
}

#lablec {
    padding: 5% 22%;
    padding-bottom: 1%;
    background-color: rgb(16, 16, 16);
    
}

.nyitva {
    display: grid;
    grid-template-columns: repeat(3, 1.2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.nyitva>.ido>h6 {
    color: rgb(176, 176, 176);
    font-variant: small-caps;
}

.nyitva>.ido>p {
    font-size: 110%;
    font-variant: small-caps;
}

.var{
    grid-area: 1 / 1 / 2 / 2;
}

.ido {
    grid-area: 1 / 2 / 2 / 3;
}

.proba {
    grid-area: 1 / 3 / 2 / 4;
}

.proba a {
    font-size: large;
    color: white;
    font-weight: bold;
    text-decoration-color: rgb(176, 176, 176);
}

.proba a:hover {
    text-decoration-color: white;
}

.ido>p{
    margin: 0% 0% 3%;
}

.ido>hr{
    margin: 4% 0%;
}

.elerhetosegek {
    margin: auto;
    padding: 3% 0;
    font-size: large;
}

.elerhetosegek h6 {
    text-align: center;
    color: rgb(176, 176, 176);
    font-size: 85%;
    font-weight: lighter;
}

@media only screen and (max-width: 1040px){
    #tortenet{
        display: grid;
        grid-template-columns: 0.4fr 0.47fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
        background-color: rgb(36, 36, 36);
        padding: 5% 0%;
    }
    
    .felirat1{
        grid-area: 1 / 1 / 2 / 2;
        font-size: 140%;
        font-family: Metropolis,Metropolis-Fallback,Apple Color Emoji,Noto Color Emoji,sans-serif;
        text-align: right;
        font-variant: small-caps;
    
    }
    
    .felirat2{
        grid-area: 2 / 1 / 3 / 2;
        font-size: 17.2px;
        font-family: Playfair Display Flex,Playfair-Display-Fallback,Apple Color Emoji,Noto Color Emoji,serif;
        color: rgb(176, 176, 176);
        text-align: right;
    }
    
    .tortenet{
        grid-area: 1 / 2 / 3 / 3;
        font-size: 17.2px;
        font-family: Metropolis,Metropolis-Fallback,Apple Color Emoji,Noto Color Emoji,sans-serif;
        text-align: left;
        color: rgb(176, 176, 176);
    }
    
    .fogszam{
        grid-area: 3 / 2 / 4 / 3;
        font-size: 110%;
        text-align: left;
        font-variant: small-caps;
    }
}